<h1>Listing pics</h1>


<div id="pics" class = "transitions-enabled">
  <% @pics.each do |pic| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pic.image.url(:medium)), pic_path(pic) %>
      <div class = "panel-body text-center">
      <%= pic.description %>
      <% if pic.admin == current_admin %>
        <%= link_to 'Edit', edit_pic_path(pic) %>
        <%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    </div>
  <% end %>
</div>

