<div class="wide">

</div>
<div class="container">
  <div class="text-center">
    <h1>Content</h1>
  </div>
</div><!-- /.container -->
<h1>Welcome to my app!</h1>
<p>Sign up here.</p>
<%= link_to "about page", about_path %>
<%= link_to "new pic", pics_path %>
<% if admin_signed_in? %>
<%= link_to "edit admin", edit_admin_registration_path %>
<%end%>

